@model System.Web.Mvc.PagedList<DWM.Models.Repositories.GrupoClienteViewModel>
@{
    Layout = null;
    Model.action = "../GrupoClientes/_ListGrupoClienteModal";
}
<div class="row">
    <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12" style="margin: 0px">
        @Html.Partial("_Filter", Model)
        <div id="div-gcli" class="no-padding">
            @Html.Partial("../GrupoClientes/_ListGrupoClienteModal", Model)
        </div>
    </div>
</div>

<script type="text/javascript">

    function Move(id, descricao) {
        $("#grupoClienteId").val(id);
        $("#nome_grupoCliente").val(descricao);
        $("#nome_grupoCliente1").val(descricao);
        $("#btnModal").click();
    }

</script>




