@model System.Web.Mvc.PagedList<DWM.Models.Repositories.GrupoClienteViewModel>
@{
    Layout = null;
    Model.action = "../GrupoClientes/_ListGrupoClienteModal";
}
<div id="div-gcli">
    @Html.Partial("../GrupoClientes/_ListGrupoClienteModal", Model)
</div>

<script type="text/javascript">

    function Move(id, descricao) {
        $("#grupoClienteId").val(id);
        $("#nome_grupoCliente").val(descricao);
        $("#nome_grupoCliente1").val(descricao);
        $("#btnModal").click();
    }

</script>




