@model System.Web.Mvc.PagedList<DWM.Models.Repositories.CentroCustoViewModel>
@{
    Layout = null;
    Model.action = "../CentroCustos/_ListCentroCustoModal";
}

<div id="div-ccu">
    @Html.Partial("../CentroCustos/_ListCentroCustoModal", Model)
</div>

<script type="text/javascript">

    function Move(id, descricao) {
        $("#centroCustoId").val(id);
        $("#descricao_centroCusto").val(descricao);
        $("#descricao_centroCusto1").val(descricao);
        $("#btnModal").click();
    }

</script>


