@model System.Web.Mvc.PagedList<DWM.Models.Repositories.EnquadramentoViewModel>
@{
    Layout = null;
    Model.action = "../Enquadramentos/_ListEnquadramentoOperacaoAmortizacaoModal";
}
<div class="row">
    <div class="col-md-12" style="margin: 0px">
        @Html.Partial("_Filter", Model)
        <div id="div-amort" class="no-padding">
            @Html.Partial("../Enquadramentos/_ListEnquadramentoOperacaoAmortizacaoModal", Model)
        </div>
    </div>
</div>
<script type="text/javascript">

    function Move(id, descricao) {
        $("#enquadramento_amortizacaoId").val(id);
        $("#descricao_enquadramento_amortizacao").val(descricao);
        $("#descricao_enquadramento_amortizacao1").val(descricao);
        $("#btnModal").click();
    }

</script>


