@model System.Web.Mvc.PagedList<DWM.Models.Repositories.BancoViewModel>
@{
    Layout = null;
    Model.action = "../Bancos/_ListBanco3Modal";
}
<p><h4>Bancos</h4></p>
<hr />
<div id="div-ban3">
    @Html.Partial("../Bancos/_ListBanco3Modal", Model)
</div>

<script type="text/javascript">

    function Move(id, descricao) {
        $("#banco3Id").val(id);
        $("#nome_banco3").val(descricao);
        $("#nome_banco31").val(descricao);
        $("#btnModal").click();
    }

</script>





