@model System.Web.Mvc.PagedList<DWM.Models.Repositories.BancoViewModel>
@{
    Layout = null;
    Model.action = "../Bancos/_ListBanco2Modal";
}
<div class="row">
    <div class="col-md-12" style="margin: 0px">
        @Html.Partial("_Filter", Model)
        <div id="div-ban2" class="no-padding">
            @Html.Partial("../Bancos/_ListBanco2Modal", Model)
        </div>
    </div>
</div>
<script type="text/javascript">

    function Move(id, descricao) {
        $("#banco2Id").val(id);
        $("#nome_banco2").val(descricao);
        $("#nome_banco21").val(descricao);
        $("#btnModal").click();
    }

</script>




