@model System.Web.Mvc.PagedList<DWM.Models.Repositories.EventoViewModel>

@{
    Layout = null;
}
@if (Model != null)
{
    <div class="dashboard-widget-content">
        <div class="row">
            <div class="col-md-8">
                Clique nos botões de <code>Ação</code> para executar a ação desejada
            </div>
            <div class="col-md-1 pull-right">
                <a href="../Eventos/Create" class="text-primary">Incluir</a>
            </div>
        </div>
        <p>&nbsp;</p>
        <div class="table-responsive">
            <table class="table table-striped jambo_table bulk_action" id="datatable">
                <thead>
                    <tr class="headings">
                        <th class="col-md-2 column-title text-center nobr">Ação</th>
                        <th class="column-title">Nome</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (DWM.Models.Repositories.EventoViewModel eve in Model)
                    {
                        <tr class="even pointer">

                            @if (eve.ind_eventoFixo == "N")
                            {
                                <td class="col-md-2 text-center">
                                    <button type="button" class="btn btn-primary btn-sm glyphicon glyphicon-edit" title="Editar" onclick="window.location='Edit?eventoId=@eve.eventoId'"></button>
                                    <button type="button" class="btn btn-danger btn-sm glyphicon glyphicon-trash" title="Excluir" onclick="window.location='Delete?eventoId=@eve.eventoId'"></button>
                                </td>
                            }
                            else
                            {
                                <td class="col-md-2 text-center">
                                    <button type="button" class="btn btn-primary btn-sm glyphicon glyphicon-edit" title="Editar" data-toggle="popover" data-container="body" data-placement="left" data-content="Este é um evento fixo do sistema e não pode ser editado"></button>
                                    <button type="button" class="btn btn-danger btn-sm glyphicon glyphicon-trash" title="Excluir" data-toggle="popover" data-container="body" data-placement="left" data-content="Este é um evento fixo do sistema e não pode ser excluído"></button>
                                </td>
                            }
                            <td>
                                <span>@eve.descricao</span>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    @Html.Partial("_AcessoNegadoModal")
}

<!-- Datatables -->
<script src="../Content/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="../Content/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

<script>
    $('#datatable').DataTable({
        lengthMenu: [[15, 25, 50, 100, -1], [15, 25, 50, 100, "Todos"]],
        iDisplayLength: 50,
        language: {
            "url": "../Scripts/DataTablePtBr.txt"
        },
    });
</script>

<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>



