@model System.Web.Mvc.PagedList<DWM.Models.Repositories.EventoViewModel>
@{
    Layout = null;
    Model.action = "../Eventos/_ListEventoModal";
}
@Html.EditorFor(info => Model, "NAVBAR", new { brand = "Eventos" })
<div class="container-fluid">
    <div id="div-eve">
        @Html.Partial("../Eventos/_ListEventoModal", Model)
    </div>
</div>

<script type="text/javascript">

    function Move(id, descricao) {
        $("#eventoId").val(id);
        $("#descricao_evento").val(descricao);
        $("#descricao_evento1").val(descricao);
        $("#btnModal").click();
    }

</script>




