@{
    var next = ViewData["nextField"];
    var previous = ViewData["prevField"];
    var value = ViewData["value"];
    var Text = ViewData["Text"];
    var tabindex = ViewData["tabindex"];
}
<div class="form-group">
    <label class="control-label" for="descricao_evento">Evento</label>
    <div class="input-group" id="EvtParent">
        <input type="text" id="descricao_evento" name="descricao_evento" value="@Text" class="form-control" onblur="fillEvt();" tabindex="@tabindex" />
        <input type="hidden" id="eventoId" name="eventoId" value="@value" />
        <div class="input-group-btn">
            <button class="btn btn-primary" style="margin-top: -5px" type="button" onclick="showLookup('LovEventoModal');"><i class="glyphicon glyphicon-search"></i></button>
            <button class="btn btn-instagram" style="margin-top: -5px" type="button" onclick="clean('eventoId', 'descricao_evento');"><i class="glyphicon glyphicon-remove"></i></button>
        </div>
    </div>
    <div id="div-lov"></div>
</div>

<script>
    // Next Field
    $('#EvtParent').on('keydown', '#descricao_evento', function (e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode == 9 && '@next' != '') {
            e.preventDefault();
            if (!e.shiftKey)
                $('#@next').focus();
            else
                $('#@previous').focus();
        }
    });
    // Fim-Next Field

    var link = encodeURI('../Eventos/getNames?noCahce=' + new Date());
    var data = { values: [] };
    var evt = { countries: [] };
    $.ajax({
        type: "POST",
        url: link,
        contentType: "application/json; charset=utf-8",
        global: false,
        async: false,
        dataType: "json",
        success: function (jsonObj) {
            for (i in jsonObj) {
                data.values.push(jsonObj[i].descricao);
                evt.countries.push({ objId: jsonObj[i].eventoId, descricao: jsonObj[i].descricao })
            };
        }
    });

    $('#descricao_evento').typeahead({
        local: data.values,
    });
    $('descricao_evento').css('background-color', '#fff');

    function fillEvt() {
        for (i in evt.countries) {
            if (evt.countries[i].descricao == $('#descricao_evento').val()) {
                $('#eventoId').val(evt.countries[i].objId);
            }
        }
    }

</script>


