@{
    var next = ViewData["nextField"];
    var previous = ViewData["prevField"];
    var value = ViewData["value"];
    var Text = ViewData["Text"];
    var tabindex = ViewData["tabindex"];
}
<div class="form-group">
    <label class="control-label" for="nome_grupoFornecedor">Grupo de Fornecedores</label>
    <div class="input-group" id="GrupoCreParent">
        <input type="text" id="nome_grupoFornecedor" name="nome_grupoFornecedor" value="@Text" class="form-control" onblur="fillGrupoCre();" tabindex="@tabindex" />
        <input type="hidden" id="grupoCredorId" name="grupoCredorId" value="@value" />
        <div class="input-group-btn">
            <button class="btn btn-primary" style="margin-top: -5px" type="button" onclick="showLookup('LovGrupoCredorModal');"><i class="glyphicon glyphicon-search"></i></button>
            <button class="btn btn-instagram" style="margin-top: -5px" type="button" onclick="clean('grupoCredorId', 'nome_grupoFornecedor');"><i class="glyphicon glyphicon-remove"></i></button>
        </div>
    </div>
    <div id="div-lov"></div>
</div>

<script>
    // Next Field
    $('#GrupoCreParent').on('keydown', '#nome_grupoFornecedor', function (e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode == 9 && '@next' != '') {
            e.preventDefault();
            if (!e.shiftKey)
                $('#@next').focus();
            else
                $('#@previous').focus();
        }
    });
    // Fim-Next Field

    var link = encodeURI('../GrupoFornecedores/getNames?noCahce=' + new Date());
    var data = { values: [] };
    var gcre = { countries: [] };
    $.ajax({
        type: "POST",
        url: link,
        contentType: "application/json; charset=utf-8",
        global: false,
        async: false,
        dataType: "json",
        success: function (jsonObj) {
            for (i in jsonObj) {
                data.values.push(jsonObj[i].nome);
                gcre.countries.push({ objId: jsonObj[i].grupoCredorId, nome: jsonObj[i].nome })
            };
        }
    });

    $('#nome_grupoFornecedor').typeahead({
        local: data.values,
    });
    $('nome_grupoFornecedor').css('background-color', '#fff');

    function fillGrupoCre() {
        for (i in gcre.countries) {
            if (gcre.countries[i].nome == $('#nome_grupoFornecedor').val()) {
                $('#grupoCredorId').val(gcre.countries[i].objId);
            }
        }
    }

</script>
