@{
    var next = ViewData["nextField"];
    var previous = ViewData["prevField"];
    var codigoPleno = ViewData["value"];
    var Text = ViewData["Text"];
    var value = ViewData["value"];
    var tabindex = ViewData["tabindex"];
}
<div class="form-group">
    <div id="div-lov"></div>
    <label class="control-label" for="descricao_pai">Conta</label>
    <div class="input-group" id="PlanoContasParent">
        @*<input type="hidden" id="codigoPleno" name="codigoPleno" value="@codigoPleno" />*@
        <input type="text" id="descricao_pai" name="descricao_pai" value="@Text" class="form-control" onblur="fillPlacon();" tabindex="@tabindex" size="400" />
        <input type="hidden" id="planoContaId_pai" name="planoContaId_pai" value="@value" />
        <div class="input-group-btn">
            <button class="btn btn-primary" type="button" onclick="showLookup('LovPlanoContasPaiModal');"><i class="glyphicon glyphicon-search"></i></button>
            <button class="btn btn-instagram" type="button" onclick="clean('planoContaId_pai', 'descricao_pai');" style="margin-left: -6px"><i class="glyphicon glyphicon-remove"></i></button>
        </div>
    </div>
</div>
<div id="descricao_pai-container" class="panel panel-primary" style="position: relative; float: left; margin-top: -20px;"></div>
<script>
    // Next Field
    $('#PlanoContasParent').on('keydown', '#descricao_pai', function (e) {
        var keyCode = e.keyCode || e.which;
        if (keyCode == 9 && '@next' != '') {
            e.preventDefault();
            if (!e.shiftKey)
                $('#@next').focus();
            else
                $('#@previous').focus();
        }
    });
    // Fim-Next Field

    var link = encodeURI('../PlanoContas/getNames?noCahce=' + new Date());
    var data = { values: [] };
    var plan = { countries: [] };
    $.ajax({
        type: "POST",
        url: link,
        contentType: "application/json; charset=utf-8",
        global: false,
        async: false,
        dataType: "json",
        success: function (jsonObj) {
            for (i in jsonObj) {
                data.values.push(jsonObj[i].codigoPleno + ' ' + jsonObj[i].descricao);
                plan.countries.push({ objId: jsonObj[i].planoContaId, descricao: jsonObj[i].descricao })
            };
        }
    });

    function fillPlacon() {
        for (i in plan.countries) {
            if (plan.countries[i].descricao == $('#descricao_pai').val()) {
                $('#planoContaId_pai').val(plan.countries[i].objId);
            }
        }
    }

</script>


<!-- jQuery autocomplete -->
<script>
      $(document).ready(function() {
          var planPaiArray = $.map(data.values, function(value, key) {
            return {
              value: value,
              data: key
            };
          });

        // initialize autocomplete with custom appendTo
        $('#descricao_pai').autocomplete({
          lookup: planPaiArray,
          appendTo: '#descricao_pai-container'
        });
      });
</script>
<!-- /jQuery autocomplete -->


